{{define "lang-switcher"}}
<div class="relative">
    <button id="languageButton"
        class="custom-language-btn flex items-center space-x-1 text-white rounded-lg"
        aria-label="Language Selection">
        <img src="/static/images/flags/{{.language}}/24.png" alt="{{.language}}" class="w-5 h-5" />
        <span>{{.language}}</span>
    </button>
    <div id="languageMenu" class="hidden absolute right-0 mt-2 w-40 bg-white rounded-lg shadow-lg overflow-hidden z-50">
        <a href="?lang=EN" data-lang="EN" class="lang-option flex items-center px-4 py-2 hover:bg-gray-200">
            <img src="/static/images/flags/EN/24.png" alt="English" class="w-5 h-5 mr-2" />
            <span class="text-black">English</span>
        </a>
        <a href="?lang=ES" data-lang="ES" class="lang-option flex items-center px-4 py-2 hover:bg-gray-200">
            <img src="/static/images/flags/ES/24.png" alt="Español" class="w-5 h-5 mr-2" />
            <span class="text-black">Español</span>
        </a>
        <a href="?lang=DE" data-lang="DE" class="lang-option flex items-center px-4 py-2 hover:bg-gray-200">
            <img src="/static/images/flags/DE/24.png" alt="Deutsch" class="w-5 h-5 mr-2" />
            <span class="text-black">Deutsch</span>
        </a>
    </div>
</div>
{{end}}